body {
    background-color:#6C7B80;
	text-align:left;
    font-family: 'Terminal Dosis',sans-serif;
    font-size: 16pt;
    color:#000;
}
a {
    color:#000;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:none;}
img {  border-style: none; }

table {
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: gray;
    border-collapse: collapse;
    background-color: white;
}
table th {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: black;
    background-color: white;
    -moz-border-radius: ;
}
table td {
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    background-color: white;
}

.box{
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
    padding-top:30px;
    max-width:900px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}
